In [11]:
import pandas as pd
# , index_col='date', header=['date','open_ibova','open_oil','open_usd']
df = pd.read_csv('..\Data\ibova_oil_usd.csv')

In [13]:
df = df[['date','roc_open_ibova','roc_open_oil','roc_open_usd']]
df = df.dropna()

In [29]:
df.tail(3)

            date  roc_open_ibova  roc_open_oil  roc_open_usd
2405  2021-11-08       -6.595764     -2.651787     -1.032804
2406  2021-11-09       -3.359168     -1.698969     -2.027323
2407  2021-11-10       -2.390588      0.654912     -1.343244

In [26]:
separados = {}
price_series = []
lookback = 6
count = -1
dates = df.index

# Roc to IBOVA
prices = list(df.roc_open_ibova.values)
for day in dates:
	count += 1
	if count >= lookback:
		price_series.append(prices[count-lookback:count])

df_lookback_ibova = pd.DataFrame(price_series)

# Roc to OIL
prices = list(df.roc_open_oil.values)
for day in dates:
	count += 1
	if count >= lookback:
		price_series.append(prices[count-lookback:count])

df_lookback_oil = pd.DataFrame(price_series)

# Roc to USD
prices = list(df.roc_open_usd.values)
for day in dates:
	count += 1
	if count >= lookback:
		price_series.append(prices[count-lookback:count])

df_lookback_usd = pd.DataFrame(price_series)

In [30]:
print(f'{df_lookback_ibova.tail(3)}')
print(f'{df_lookback_oil.head(3)}')
print(f'{df_lookback_usd.tail(3)}')

             0         1         2         3         4         5
2389 -3.354260 -6.276465 -6.729609 -7.903147 -6.691182 -7.227916
2390 -6.276465 -6.729609 -7.903147 -6.691182 -7.227916 -6.595764
2391 -6.729609 -7.903147 -6.691182 -7.227916 -6.595764 -3.359168
          0         1         2         3         4          5
0  1.852453  5.731218  5.678287  6.704554  4.870696   5.135128
1  5.731218  5.678287  6.704554  4.870696  5.135128   5.976096
2  5.678287  6.704554  4.870696  5.135128  5.976096  10.159998
       0   1   2   3   4   5
7185 NaN NaN NaN NaN NaN NaN
7186 NaN NaN NaN NaN NaN NaN
7187 NaN NaN NaN NaN NaN NaN

In [16]:
df_lookback_ibova.columns = ['ibova_0','ibova_1','ibova_2','ibova_3','ibova_4','ibova_5']
df_lookback_oil.columns = ['oil_0','oil_1','oil_2','oil_3','oil_4','oil_5']
df_lookback_usd.columns = ['usd_0','usd_1','usd_2','usd_3','usd_4','usd_5']

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements

In [ ]:
df_lookback_ibova = df_lookback_ibova.dropna()
df_lookback_oil = df_lookback_oil.dropna()
df_lookback_usd = df_lookback_usd.dropna()

In [ ]:
# df_lookback_ibova = df_lookback_ibova.iloc[:-1 , :]
df_lookback_oil = df_lookback_oil.iloc[:-1 , :]
df_lookback_usd = df_lookback_usd.iloc[:-1 , :]

In [ ]:
# df_lookback_ibova['index_ibova'] = range(1, len(df) - 4)
# df_lookback_oil['index_oil'] = range(1, len(df) - 4)
# df_lookback_usd['index_usd'] = range(1, len(df) - 4)

In [ ]:
# Dessa forma ele ta add mais de 5 linhas do ibova em seguida
# df_final = pd.concat([df_lookback_ibova,df_lookback_oil,df_lookback_usd], axis=1, ignore_index=True)

df_final = pd.concat([df_lookback_ibova,df_lookback_oil, df_lookback_usd], axis=1, join='outer')

In [ ]:
df_final.to_csv('final_ibova_oil_usd_ROC3.csv',header=True)

In [ ]:
df_final.tail(3)

,ibova_0,ibova_1,ibova_2,ibova_3,ibova_4,ibova_5,oil_0,oil_1,oil_2,oil_3,oil_4,oil_5,usd_0,usd_1,usd_2,usd_3,usd_4,usd_5
2389,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916
2390,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764
2391,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168

In [ ]:
df_final.count()

ibova_0    2393
ibova_1    2393
ibova_2    2393
ibova_3    2393
ibova_4    2393
oil_0      2393
oil_1      2393
oil_2      2393
oil_3      2393
oil_4      2393
usd_0      2393
usd_1      2393
usd_2      2393
usd_3      2393
usd_4      2393
dtype: int64

In [ ]:
print(f'{df_lookback_ibova.tail(3)}')
print(f'{df_lookback_oil.tail(3)}')
print(f'{df_lookback_usd.tail(3)}')

       ibova_0   ibova_1   ibova_2   ibova_3   ibova_4
2390 -6.276465 -6.729609 -7.903147 -6.691182 -7.227916
2391 -6.729609 -7.903147 -6.691182 -7.227916 -6.595764
2392 -7.903147 -6.691182 -7.227916 -6.595764 -3.359168
         oil_0     oil_1     oil_2     oil_3     oil_4
2390 -6.276465 -6.729609 -7.903147 -6.691182 -7.227916
2391 -6.729609 -7.903147 -6.691182 -7.227916 -6.595764
2392 -7.903147 -6.691182 -7.227916 -6.595764 -3.359168
         usd_0     usd_1     usd_2     usd_3     usd_4
2390 -6.276465 -6.729609 -7.903147 -6.691182 -7.227916
2391 -6.729609 -7.903147 -6.691182 -7.227916 -6.595764
2392 -7.903147 -6.691182 -7.227916 -6.595764 -3.359168

In [ ]:
print(f'{df_lookback_ibova.count()}')
print(f'{df_lookback_oil.count()}')
print(f'{df_lookback_usd.count()}')

ibova_0    2393
ibova_1    2393
ibova_2    2393
ibova_3    2393
ibova_4    2393
dtype: int64
oil_0    2393
oil_1    2393
oil_2    2393
oil_3    2393
oil_4    2393
dtype: int64
usd_0    2393
usd_1    2393
usd_2    2393
usd_3    2393
usd_4    2393
dtype: int64

In [ ]:
print(f'{df_lookback_ibova.isna().sum()}')
print(f'{df_lookback_oil.isna().sum()}')
print(f'{df_lookback_usd.isna().sum()}')

ibova_0    0
ibova_1    0
ibova_2    0
ibova_3    0
ibova_4    0
dtype: int64
oil_0    0
oil_1    0
oil_2    0
oil_3    0
oil_4    0
dtype: int64
usd_0    0
usd_1    0
usd_2    0
usd_3    0
usd_4    0
dtype: int64

In [ ]:
df_final.head()

,ibova_0,ibova_1,ibova_2,ibova_3,ibova_4,oil_0,oil_1,oil_2,oil_3,oil_4,usd_0,usd_1,usd_2,usd_3,usd_4
0,1.852453,5.731218,5.678287,6.704554,4.870696,1.852453,5.731218,5.678287,6.704554,4.870696,1.852453,5.731218,5.678287,6.704554,4.870696
1,5.731218,5.678287,6.704554,4.870696,5.135128,5.731218,5.678287,6.704554,4.870696,5.135128,5.731218,5.678287,6.704554,4.870696,5.135128
2,5.678287,6.704554,4.870696,5.135128,5.976096,5.678287,6.704554,4.870696,5.135128,5.976096,5.678287,6.704554,4.870696,5.135128,5.976096
3,6.704554,4.870696,5.135128,5.976096,10.159998,6.704554,4.870696,5.135128,5.976096,10.159998,6.704554,4.870696,5.135128,5.976096,10.159998
4,4.870696,5.135128,5.976096,10.159998,8.056570,4.870696,5.135128,5.976096,10.159998,8.056570,4.870696,5.135128,5.976096,10.159998,8.056570

In [ ]:
df_final.tail()

,ibova_0,ibova_1,ibova_2,ibova_3,ibova_4,oil_0,oil_1,oil_2,oil_3,oil_4,usd_0,usd_1,usd_2,usd_3,usd_4
2388,-1.279721,-3.354260,-6.276465,-6.729609,-7.903147,-1.279721,-3.354260,-6.276465,-6.729609,-7.903147,-1.279721,-3.354260,-6.276465,-6.729609,-7.903147
2389,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182,-3.354260,-6.276465,-6.729609,-7.903147,-6.691182
2390,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916,-6.276465,-6.729609,-7.903147,-6.691182,-7.227916
2391,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764,-6.729609,-7.903147,-6.691182,-7.227916,-6.595764
2392,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168,-7.903147,-6.691182,-7.227916,-6.595764,-3.359168

In [ ]:
df.count()

date              2398
roc_open_ibova    2398
roc_open_oil      2398
roc_open_usd      2398
dtype: int64